$log-level: null !default;
@use 'utilities/log' with ($log-level: $log-level);

$base: null !default;
$modifiers: null !default;
$colors: null !default;
$color-options: null !default;
$fill-types: null !default;
$fill-options: null !default;
$elevations: null !default;
$elevation-options: null !default;
$margins: null !default;
$margin-options: null !default;
$paddings: null !default;
$padding-options: null !default;
$sizes: null !default;
$size-options: null !default;
$widths: null !default;
$width-options: null !default;
$corners: null !default;
$corner-options: null !default;
$borders: null !default;
$border-options: null !default;
$focus-types: null !default;
$focus-options: null !default;
$disabled-types: null !default;
$disabled-options: null !default;
$breakpoints: null !default;
$breakpoint-options: null !default;
$case-options: null !default;
$hover-options: null !default;
$active-options: null !default;
$alignment-options: null !default;
$position-options: null !default;
$highlight-options: null !default;
$options: null !default;
$components: null !default;
$types: null !default;
$configuration: null !default;
$themes: null !default;
)
;

@use 'configuration/normalize' with (
$base: $base,
$modifiers: $modifiers,
$colors: $colors,
$color-options: $color-options,
$fill-types: $fill-types,
$fill-options: $fill-options,
$elevations: $elevations,
$elevation-options: $elevation-options,
$margins: $margins,
$margin-options: $margin-options,
$paddings: $paddings,
$padding-options: $padding-options,
$sizes: $sizes,
$size-options: $size-options,
$widths: $widths,
$width-options: $width-options,
$corners: $corners,
$corner-options: $corner-options,
$borders: $borders,
$border-options: $border-options,
$focus-types: $focus-types,
$focus-options: $focus-options,
$disabled-types: $disabled-types,
$disabled-options: $disabled-options,
$breakpoints: $breakpoints,
$breakpoint-options: $breakpoint-options,
$case-options: $case-options,
$hover-options: $hover-options,
$active-options: $active-options,
$alignment-options: $alignment-options,
$position-options: $position-options,
$highlight-options: $highlight-options,
$options: $options,
$components: $components,
$types: $types,
$configuration: $configuration,
$themes: $themes
);

$themes: normalize.$themes;

@use 'configuration/flatten' as *;
$themes: flatten-themes($themes);

@use 'configuration/modifiers' as *;
$themes: check-and-complete-modifiers($themes);

@use 'mixins/standardkit' as *;
@include standardkit($themes);
