// TODO : Make less invasive, only supply bare minimum, which cannot be styled by our components/partials

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  min-height: 100%;
}

input,
textarea,
button,
select,
label,
a {
  outline: none;
  text-decoration: none;
}

button,
select {
  cursor: pointer;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}
