.case--capitalize {
  text-transform: capitalize;
}

.case--lowercase {
  text-transform: lowercase;
}

.case--uppercase {
  text-transform: uppercase;
}

.title,
.subtitle {
  margin-bottom: $typography-margin--m;

  @each $size, $margin in $typography-margins {
    &.margin--#{$size} {
      margin-bottom: $margin;
    }
  }
}
