@use '../../mixins/flavors' as *;

@mixin card-layout($configuration: (), $modifiers: ()) {
  @include flavors-and-types('card-layout', $configuration, $modifiers,
    ['color', 'fill', 'alignment', 'vertical-alignment']);

  .card-layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
