@use '../../mixins/flavors' as *;

@mixin dashboard-layout($configuration: (), $modifiers: ()) {
  @include flavors-and-types('dashboard-layout', $configuration, $modifiers, []);

  .dashboard-layout {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
