@use '../../mixins/flavors' as *;

@mixin sidebar($configuration: (), $modifiers: ()) {
  @include flavors-and-types('sidebar', $configuration, $modifiers, ['fill', 'color', 'width']);

  .sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow-y: auto;
  }
}
