@each $theme-name, $theme in $themes {
  $colors: map-get-default($theme, colors);
  $colors: complete-color-sets($colors, map-get-default($theme, options));
  $themes: map-set($themes, colors, $colors);
}
