@use '../../themes/default' as default-theme;

@each $theme-name, $theme in $themes {

  // Apply base on top of default theme
  // TODO : Make base merging optional and also use the same merge rules, recursive until base == theme
  $base: map-get-default($theme, base);
  $base: map-deep-merge(default-theme.$theme-configuration, $base);

  $theme: map-set($theme, base, $base); // Set the base
  $theme: flatten-theme($theme);

  $themes: map-set($themes, $theme-name, $theme); // Flatten and save to the $themes object
}
