@use '../utilities/base' as *;

@use 'breakpoints';
@use 'colors';
@use 'elevations';
@use 'fill-types';

// Checks naming conflicts and completeness of complex modifiers
// If found incomplete, based on theme options it completes them
@function check-and-complete-modifiers($themes: ()) {
  @each $theme, $configuration in $themes {

    $modifiers: map-get-default($configuration, modifiers);
    $options: map-get-default($configuration, options);

    // Breakpoints
    $check: breakpoints.check-configuration($modifiers);

    // Colors
    $colors: map-get-default($modifiers, colors);
    $colors: colors.complete-color-sets($colors, $options);
    $configuration: map-set($configuration, colors, $colors);

    // Elevations
    $elevations: map-get-default($modifiers, elevations);
    $elevations: elevations.complete-elevation-sets($elevations, $options);
    $configuration: map-set($configuration, elevations, $elevations);

    // Fill Types
    $fill-types: map-get-default($modifiers, fill-types);
    $fill-types: fill-types.complete-fill-type-sets($fill-types);
    $configuration: map-set($configuration, fill-types, $fill-types);

    // Save new settings
    $themes: map-set($themes, $theme, $configuration);
  }
}
