@use '../utilities/base' as *;

@use 'breakpoints';
@use 'colors';
@use 'elevation-types';
@use 'fill-types';

// Checks naming conflicts and completeness of complex modifiers
// If found incomplete, based on theme options it completes them
@function check-and-complete-modifiers($themes: ()) {
  @each $theme, $configuration in $themes {

    $modifiers: map-get-default($configuration, modifiers);
    $options: map-get-default($configuration, options);

    // Breakpoints
    $check: breakpoints.check-configuration($modifiers);

    // Colors
    $colors: map-get-default($modifiers, colors);
    $colors: colors.complete-color-sets($colors, $options);
    $modifiers: map-set($modifiers, colors, $colors);

    // Elevation Types
    $elevation-types: map-get-default($modifiers, elevation-types);
    $elevation-types: elevation-types.complete-elevation-sets($elevation-types, $options);
    $modifiers: map-set($modifiers, elevation-types, $elevation-types);

    // Fill Types
    $fill-types: map-get-default($modifiers, fill-types);
    $fill-types: fill-types.complete-fill-type-sets($fill-types);
    $modifiers: map-set($modifiers, fill-types, $fill-types);

    // TODO : Add hover / disabled / active prefixed naming flavor checks

    // Save new settings
    $configuration: map-set($configuration, modifiers, $modifiers);
    $themes: map-set($themes, $theme, $configuration);
  }
  @return $themes;
}
