// Flat Configuration: simplest level of input for the user
$base: () !default;

$colors: () !default;
$color-options: () !default;

$fill-types: () !default;
$fill-type-options: () !default;

$elevations: () !default;
$elevation-options: () !default;

$margins: () !default;
$margin-options: () !default;

$paddings: () !default;
$padding-options: () !default;

$sizes: () !default;
$size-options: () !default;

$widths: () !default;
$width-options: () !default;

$corners: () !default;
$corner-options: () !default;

$borders: () !default;
$border-options: () !default;

$focus-types: () !default;
$focus-options: () !default;

$disabled-types: () !default;
$disabled-options: () !default;

$breakpoints: () !default;
$breakpoint-options: () !default;

// TODO : Include modifiers that have only options to exclude flavors

$options: () !default; // Global modifier settings and utility configuration
$components: () !default; // Default modifier flavors for each component

// Single Theme: Merged all the 'simple' options into one object
$configuration: () !default;

// Multi Theme: Define a lot of themes at once
$themes: (default: ()) !default;

// Merge the simple options on top of the single configuration
// TODO : Add modifiers to configuration
$configuration: map-deep-merge($configuration, (
  base: $base,
  options: $options,
  components: $components
));

// Merge the configuration on top of the default theme
$themes: map-deep-merge($themes, (default: $configuration));
