/* Import the default theme */
@use '../themes/default/size' as theme;

/**
 * Margins
 */
$theme-margins: () !default; // Supplied by user imported theme
$margins: () !default; // Custom overrides created by user

/* Map the user margins onto the user supplied theme */
$margins: map-deep-merge($theme-margins, $margins);

/* Map user configuration onto default theme */
$margins: map-deep-merge(theme.$theme-margins, $margins);

/**
 * Paddings
 */
$theme-paddings: () !default; // Supplied by user imported theme
$paddings: () !default; // Custom overrides created by user

/* Map the user paddings onto the user supplied theme */
$paddings: map-deep-merge($theme-paddings, $paddings);

/* Map user configuration onto default theme */
$paddings: map-deep-merge(theme.$theme-paddings, $paddings);

/**
 * Sizes
 */
$theme-sizes: () !default; // Supplied by user imported theme
$sizes: () !default; // Custom overrides created by user

/* Map the user sizes onto the user supplied theme */
$sizes: map-deep-merge($theme-sizes, $sizes);

/* Map user configuration onto default theme */
$sizes: map-deep-merge(theme.$theme-sizes, $sizes);
