// includes the modifiers to which you can not add custom flavors

$all: [
  // Complex Modifiers
  color,
  fill-type,
  elevation-type,
  breakpoint,

  // Dynamic Modifiers
  border,
  corner,
  margin,
  padding,
  size,
  width,

  // Prefix Flavored Modifiers
  active-type,
  disabled-type,
  focus-type,
  hover-type,

  // Static Modifiers
  alignment,
  capitalization,
  highlight,
  position

] !default;


$sets: (
  //
  // Complex Modifiers
  //
  color: (
    basic: error warning success info primary text,
    minimal: text primary
  ),
  fill-type: (
    basic: fill plain outline,
    minimal: fill outline
  ),
  elevation-type: (
    basic: none s m l,
    minimal: m
  ),
  breakpoint: (
    basic: start s m l,
    minimal: start m
  ),
  //
  // Dynamic Modifiers
  //
  border: (
    basic: none s m l,
    minimal: m
  ),
  corner: (
    basic: square s m l round,
    minimal: m
  ),
  margin: (
    basic: none s m l,
    minimal: m
  ),
  padding: (
    basic: none s m l,
    minimal: m
  ),
  size: (
    basic: s m l,
    minimal: m
  ),
  width: (
    basic: s m l full,
    minimal: m
  ),
  //
  // Prefix Flavored Modifiers
  //
  active-type: (// TODO : Expand
    basic: [],
    minimal: [],
  ),
  disabled-type: (
    basic: opacity grayscale,
    minimal: opacity,
  ),
  focus-type: (
    basic: outline elevation, // TODO : Implement & Check after
    minimal: outline,
  ),
  hover-type: (
    basic: fill brightness outline,
    minimal: brightness,
  ),
  //
  // Static Modifiers
  //
  alignment: (
    basic: left center right space-between,
    minimal: left center right
  ),
  capitalization: (
    basic: lowercase uppercase,
    minimal: uppercase
  ),
  // TODO : Investigate if we can partially add highlight to prefix flavored modifiers (e.g. color--primary)
  highlight: (
    basic: bold color,
    minimal: bold color
  ),
  position: (
    basic: top bottom middle,
    minimal: top middle
  )
) !default;

$color-keys: [main, complement, contrast, complement-contrast];
$fill-type-keys: [text, background, border];
$elevation-keys: []; // TODO : Implement
