// includes the modifiers to which you can not add custom flavors
$all-modifiers: [ color, fill-type, elevation, margin, padding, size, width, corner, border, breakpoint, focus-type,
                  disabled-type, capitalization, focus, hover, disabled, active, alignment, position, highlight ];

// TODO : Add 'empty'/'none' feature to start with a clean slate (now only possible with exclude, very verbose)
// All the modifiers that can be configured and their configuration sets (basic, minimal)
$configurable-modifiers: (
  color: (
    basic: error warning success info primary text,
    minimal: text primary
  ),
  fill-type: (
    basic: fill plain outline,
    minimal: fill
  ),
  elevation: (
    basic: none s m l,
    minimal: m
  ),
  margin: (// TODO : How about text-margins?
    basic: none s m l,
    minimal: m
  ),
  padding: (
    basic: none s m l,
    minimal: m
  ),
  size: (// TODO : Split up size?
    basic: s m l,
    minimal: m
  ),
  width: (// TODO : Split up width?
    basic: s m l full,
    minimal: m
  ),
  corner: (
    basic: square s m l round,
    minimal: m
  ),
  border: (
    basic: none s m l,
    minimal: m
  ),
  breakpoint: (
    basic: start s m l,
    minimal: start m
  ),
  focus-type: (), // TODO : Implement
  disabled-type: () // TODO : Implement
);
