// TODO : Check all themes and include only once for size reduction
@mixin mix-cases() {
  .case--capitalize {
    text-transform: capitalize;
  }

  .case--lowercase {
    text-transform: lowercase;
  }

  .case--uppercase {
    text-transform: uppercase;
  }
}
