@use '../../mixins/flavors' as *;

@mixin list($configuration: (), $modifiers: ()) {
  @include flavors-and-types(list, $configuration, $modifiers, [elevation, corner]);
  @include flavors-and-types(list-item, $configuration, $modifiers, [color, fill]);
  @include flavors-and-types(list-item__content, $configuration, $modifiers, [padding]);
  @include flavors-and-types(list-item__icon, $configuration, $modifiers, [padding, position]);
}


.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .list-item {
    display: flex;
    flex-direction: row;

    .list-item__content {
      flex: 1 1 auto;
      flex-direction: column;
    }

    .list-item__icon {
      padding-right: 0; // TODO : Make configurable and depending on side of icon
    }
  }
}
