@use '../../mixins/flavors' as *;

@mixin table($configuration: (), $modifiers: ()) {
  @include flavors-and-types(table, $configuration, $modifiers, [margin, color, fill]);
  @include flavors-and-types(table-title, $configuration, $modifiers, [font]);
  @include flavors-and-types(table-cell, $configuration, $modifiers, [padding]);
}


.table {

  width: 100%;
  overflow-y: scroll;
  padding: 0;
  border-collapse: collapse;

  &--striped {
    td {
      border-bottom: 1px solid rgba(get-color(text), 10%);
    }
  }


  &--fit {
    width: unset;
    overflow: auto;
  }

  thead {
    td, th {
      border-bottom: 1px solid rgba(get-color(text), 10%);
      font-weight: bold;
    }
  }

  td {
    white-space: nowrap;
  }
}
