.case--capitalize {
  text-transform: capitalize;
}

.case--lowercase {
  text-transform: lowercase;
}

.case--uppercase {
  text-transform: uppercase;
}

.font--title {
  font-family: get-font(title), serif;
}

.font--text {
  font-family: get-font(), sans-serif;
}

.font--monospace {
  font-family: get-font(monospace), monospace;
}

* {
  @extend .font--text;
}

.title,
.subtitle {
  margin-bottom: map-get($typography-margins, m);
  @extend .font--title;

  @each $size, $margin in $typography-margins {
    &.margin--#{$size} {
      margin-bottom: $margin;
    }
  }
}

.brand {
  @extend .font--title;
}
