.case--capitalize {
  text-transform: capitalize;
}

.case--lowercase {
  text-transform: lowercase;
}

.case--uppercase {
  text-transform: uppercase;
}

.font--title {
  font-family: get-font(title), serif;
}

.font--text {
  font-family: get-font(), sans-serif;
}

.font--monospace {
  font-family: get-font(monospace), monospace;
}

// TODO : Use Html class (supercontainer)
* {
  @extend .font--text;
}

.title,
.subtitle {
  @extend .font--title;
  @include default-text-margin();
  // TODO : Configurable padding & border
}

.brand {
  @extend .font--title;
}

@each $size, $font-size in $text-sizes {
  .text-size--#{$size} {
    font-size: $font-size;
  }
}

@each $size, $margin in $text-margins {
  .text-margin--#{$size} {
    margin: $margin;
  }
}
