$theme-margins: (
  xs: 0.5rem,
  s: 1rem,
  m: 2rem,
  l: 3.5rem,
  xl: 6rem
);

$theme-paddings: (
  xs: 0.5rem,
  s: 0.75rem,
  m: 1rem,
  l: 1.5rem,
  xl: 2rem
);

$theme-sizes: (
  xs: 0.75rem,
  s: 1rem,
  m: 1.25rem,
  l: 2rem,
  xl: 3rem
);
