$theme-font--title: 'Roboto Slab';
$theme-font--text: 'Open Sans';
$theme-font--monospace: 'Roboto Mono';

$theme-fonts: (
  title: $theme-font--title,
  text: $theme-font--text,
  monospace: $theme-font--monospace
);

$theme-text-sizes: (
  xs: .7rem,
  s: .85rem,
  m: 1rem,
  l: 1.15rem,
  xl: 1.3rem
);

$theme-text-margins: (
  xs: .5em 0 .2em,
  s: .7em 0 .3em,
  m: .8em 0 .4em,
  l: 1.2em 0 .6em,
  xl: 1.6em 0 .8em,
  xxl: 2em 0 1em
)
