@function map-deep-merge($parent-map, $child-map) {
  $result: $parent-map;
  @each $key, $value in $child-map {
    @if (not map-has-key($result, $key))
    or (type-of(map-get($result, $key)) != type-of($value))
    or (not (type-of(map-get($result, $key)) == map and type-of($value) == map)) {
      $result: map-merge($result, ($key: $value));
    } @else {
      $result: map-merge($result, ($key: map-deep-merge(map-get($result, $key), $value)));
    }
  }
  @return $result;
}

@function map-get-default($map, $key, $default: ()) {
  $value: map-get($map, $key);
  $value: $default !default;

  @return $value;
}

@function map-exclude-keys($map, $keys: []) {
  @each $key, $value in $map {
    @if index($keys, $key) {
      $map: map-remove($map, $key);
    }
  }
  @return $map;
}

@function map-exclude-prefixed-keys($map, $prefix) {
  @each $key, $value in $map {
    @if str-index($key, $prefix) == 1 {
      $map: map-remove($map, $key);
    }
  }
  @return $map;
}

@function map-filter-keys($map, $keys: []) {
  $new-map: ();
  @each $key in $keys {
    @if map-has-key($map, $key) {
      $new-map: map-merge($new-map, ($key: map-get($map, $key)));
    }
  }
  @return $new-map;
}

@function in-list($list, $key) {
  @return not is-null(index($list, $key));
}

@function map-set($map, $key, $value) {
  @return map-merge($map, ($key: $value));
}

@function is-map($variable) {
  @return type-of($variable) == 'map';
}

@function is-list($variable) {
  @return type-of($variable) == 'list';
}

@function is-string($variable) {
  @return type-of($variable) == 'string';
}

@function is-null($variable) {
  @return type-of($variable) == 'null';
}

@function strip-suffix($string, $suffix) {
  $index: str-index($string, $suffix);
  @if is-null($index) or str-length($string) != $index - 1 + str-length($suffix) {
    @return $string;
  }
  @return str-slice($string, 1, $index - 1);
}

@function get-flavors($modifiers, $modifier) {
  @return map-get-default($modifiers, #{$modifier}s);
}

@function get-default-flavor($modifiers, $modifier) {
  @return map-get($modifiers, default-#{$modifier});
}

@function get-modifier-options($theme, $modifier) {
  $modifier: strip-suffix($modifier, -type);
  @return map-get-default($theme, #{$modifier}-options);
}

@function map-deep-clean($map: ()) {
  @each $key, $value in $map {
    @if is-null($value) {
      $map: map-remove($map, $key);
    } @else if is-map($value) {
      $map: map-set($map, $key, map-deep-clean($value));
    }
  }
  @return $map;
}

