@use '../utilities/base' as *;

$opacity-prefix: opacity--;
$grayscale-prefix: grayscale--;

@mixin mix-disabled-types($disabled-types: ()) {

  @each $type, $disabled in $disabled-types {

    [class*=disabled--]:disabled {
      filter: brightness(100%);
      cursor: not-allowed;
    }

    .disabled--#{$type}:disabled {
      @if str-has-prefix($disabled, $opacity-prefix) {
        opacity: percentage(str-to-number(strip-prefix($disabled, $opacity-prefix)));

      } @else if str-has-prefix($disabled, $grayscale-prefix) {
        filter: brightness(100%) grayscale(percentage(str-to-number(strip-prefix($disabled, $grayscale-prefix))));
      }
    }
  }
}
