.alert {
  display: inline-flex;
  border: 1px solid; // TODO: implement border configuration
  margin-bottom: map-get($margins, m);

  .alert__icon {
    &.alert__icon--top {
      align-self: flex-start;
    }

    &.alert__icon--middle {
      align-self: center;
    }

    &.alert__icon--bottom {
      align-self: flex-end;
    }
  }

  .alert__content {
    flex: 1 1 auto;
  }

  .alert__dismiss {
    cursor: pointer;

    &:not(.alert__dismiss--middle):not(.alert__dismiss--bottom),
    &.alert__dismiss--top {
      align-self: flex-start;
    }

    &.alert__dismiss--middle {
      align-self: center;
    }

    &.alert__dismiss--bottom {
      align-self: flex-end;
    }
  }

  &.full-width {
    display: flex;
  }

  @include type-color-fill(info, plain, alert);
  @include default-corner(s);

  @each $size, $value in $sizes {
    &.size--#{$size} {
      font-size: $value;
    }
  }

  @each $size, $margin in $margins {
    &.margin--#{$size} {
      margin-bottom: $margin;
    }
  }

  $padding: map-get($paddings, m);

  .alert__icon {
    padding: $padding 0 $padding $padding;
  }

  .alert__content,
  .alert__dismiss {
    padding: $padding;
  }

  @each $size, $padding in $paddings {
    &.padding--#{$size} {
      .alert__icon {
        padding: $padding 0 $padding $padding;
      }

      .alert__content,
      .alert__dismiss {
        padding: $padding;
      }
    }
  }
}



