.alert {
  display: inline-flex;
  border: 1px solid; // TODO: implement border configuration

  .alert__content {
    flex: 1 1 auto;
  }

  &.full-width {
    display: flex;
  }

  &.fill--fill {
    @each $key, $color in map-get($colors, alert) {
      &.alert--#{$key} {
        color: map-get($color, contrast);
        background-color: map-get($color, primary);
        border-color: map-get($color, primary);

        //color: map-get($color, secondary);
        //background-color: map-get($color, primary);
        //border-color: map-get($color, primary);
      }
    }
  }

  &.fill--outline {
    @each $key, $color in map-get($colors, alert) {
      &.alert--#{$key} {
        color: map-get($color, primary);
        background-color: transparent;
        border-color: map-get($color, primary);
      }
    }
  }

  &.fill--plain {
    @each $key, $color in map-get($colors, alert) {
      &.alert--#{$key} {
        color: map-get($color, primary);
        background-color: map-get($color, secondary);
        border-color: darken(map-get($color, secondary), 5%);
      }
    }
  }

  @each $size, $value in $sizes {
    &.size--#{$size} {
      font-size: $value;
    }
  }

  @each $size, $margin in $margins {
    &.margin--#{$size} {
      margin-bottom: $margin;
    }
  }

  @each $size, $padding in $paddings {
    &.padding--#{$size} {
      .alert__icon {
        padding: $padding 0 $padding $padding;
      }

      .alert__content,
      .alert__dismiss {
        padding: $padding;
      }
    }
  }
}



