.button {
  @include type-color-fill(primary, fill, button);
  @include default-corner();
  @include default-elevation();
  @include default-text-size();
  @include default-padding();
  @include default-margin();
  border: 2px solid;

  &:hover {
    filter: brightness(115%); // TODO : Add in the color fill on selectable matcher
  }

  &:disabled {
    opacity: 65%; // TODO : Configurable
    filter: brightness(100%);
    cursor: not-allowed;
  }

  // TODO : Add version for perfectly round button with icon inside (icon slot?)
  // width & (line-)height: ..em e.g. 1.25em
}
