.dashboard-layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .dashboard-layout__header {
    position: sticky;
    top: 0;
  }

  main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    height: 100%;

    .dashboard-layout__sidebar {
      position: sticky;
      top: 0;
    }

    .dashboard-layout__content {
      height: 100%;
      padding: 2rem;
      overflow: auto;
      flex-grow: 1;
    }
  }

  // TODO: Move basic functionality to sidebar.scss and only keep overrides here
  .sidebar {
    display: flex;
    flex-direction: column;
    min-width: 16rem;
    padding: get-padding(); // TODO : Use include
    min-height: 100%;
    background-color: get-color(primary, complement);
  }

  .navigation-bar__toggle {
    display: none;
    padding: 0 .75rem; // TODO: use configuration
    margin-left: .25rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  @each $breakpoint, $value in $default-breakpoints {
    &.dashboard-layout__expand--#{$breakpoint} {
      @media only screen and (max-width: map-get($default-breakpoints, $breakpoint)) {
        .navigation-bar__toggle {
          display: block;
        }

        .dashboard-layout__sidebar.dashboard-layout__sidebar--expanded {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: get-color(background);

          .sidebar {
            width: 100%;
          }
        }

        .dashboard-layout__sidebar:not(.dashboard-layout__sidebar--expanded) {
          display: none;
        }
      }
    }
  }
}
