.highlight {
  &--color {
    color: get-color($color-sets, highlight, primary);
  }

  &--bold {
    font-weight: bold;
  }

  &--code {
    background-color: get-color($color-sets, highlight, primary); // TODO : Different fill styles?
    color: get-color($color-sets, highlight, contrast);
    padding: .7%; // TODO : Configurable based on sizes or custom (e.g. 1px or 2rem)
    @extend .font--monospace;
  }

  &--underline {
    text-decoration: underline;
  }

  &--italic {
    font-style: italic;
  }
}
