.highlight {
  &--color {
    color: get-color(primary);
  }

  &--bold {
    font-weight: bold;
  }

  &--code {
    background-color: get-color(primary); // TODO : Different fill styles
    color: get-color(primary, contrast);
    @include default-padding(xs);
    @extend .font--monospace;
  }

  &--underline {
    text-decoration: underline;
  }

  &--italic {
    font-style: italic;
  }
}
