.input {
  @include default-padding();
  @include default-corner();
  @include default-text-size();
  @include default-text-margin();
  @include default-width(s);
  border: 2px solid rgba(get-color(text), 10%);
  background-color: rgba(get-color(text), 3%);
  color: get-color(text);
  display: inline-flex;
  flex-direction: row;
}
