.navigation {
  display: flex;
  flex-direction: column;

  .navigation-item {
    display: block;
    padding: get-padding();
    margin-left: - get-padding-x();
    margin-right: - get-padding-x();

    .navigation-item__icon {
      margin-right: 1rem; // TODO: use configuration
    }

    &.navigation-item--active {
      background-color: get-color();
      color: get-color(primary, contrast);
    }
  }

  .navigation-title {
    margin: get-margin();
  }
}
