@use '../../mixins/flavors' as *;

$component-modifiers: [padding, border, color, fill, corner, size, margin, width];

@mixin input($configuration: (), $modifiers: ()) {
  @include flavors-and-types('input', $configuration, $modifiers, $component-modifiers);

  .input {
    display: inline-flex;
    flex-direction: row;
  }
}
