.alert {
  display: flex;
  border: 1px solid; // TODO: implement border configuration
  align-items: center;
  @include mix-color-fill(info, plain, alert);
  @include default-corner();
  @include default-padding();
  @include default-margin(vertical-m);
  @include default-elevation(s); // TODO : Configure & tweak elevations

  .alert__content {
    flex-grow: 1;
  }

  .alert__icon {
    align-self: flex-start;

    &--top {
      align-self: flex-start;
    }

    &--middle {
      align-self: center;
    }

    &--bottom {
      align-self: flex-end;
    }
  }

  .alert__dismiss {
    align-self: flex-start;
    cursor: pointer;

    &--top {
      align-self: flex-start;
    }

    &--middle {
      align-self: center;
    }

    &--bottom {
      align-self: flex-end;
    }
  }

  &.full-width {
    display: flex;
  }

  @each $size, $padding in $paddings {
    &.padding--#{$size} {
      $padding-x: get-padding-x($size);
      $padding-y: get-padding-y($size);

      .alert__icon {
        margin-left: -$padding-x * .2;
        padding-right: $padding-x * .8;
      }

      .alert__dismiss {
        margin-right: -$padding-x;
        margin-top: -$padding-y;
        margin-bottom: -$padding-y;
        padding: $padding-y $padding-x * .8;
      }
    }
  }
}



