@use 'alignment' as *;
@use 'borders' as *;
@use 'breakpoints' as *;
@use 'colors' as *;
@use 'corners' as *;
@use 'elevations' as *;
@use 'fill-types' as *;
@use 'fonts' as *;
@use 'margins' as *;
@use 'paddings' as *;
@use 'size' as *;
@use 'widths' as *;

$theme-alert-types: (
  info: (default-color: info),
  error: (default-color: error),
  warning: (default-color: warning),
  success: (default-color: success)
);

$theme-configuration: (
  // Theme-wide
  options: (),
  components: (
    alert: map-merge((default-color: info, default-fill: plain), $theme-alert-types),
    button: map-merge((default-color: primary, default-fill: fill), $theme-alert-types)
  ),
  modifiers: (
    // Specific modifiers
    colors: $colors,
    default-color: primary,
    fill-types: $fill-types,
    default-fill: fill,
    elevations: $elevations,
    margins: $margins,
    paddings: $paddings,
    sizes: $text-sizes, // TODO : split up?
    widths: $widths,
    corners: $corners,
    borders: $borders,
    focus-types: (), // TODO : Implement
    default-focus-type: outline,
    disabled-types: (), // TODO : Implement
    breakpoints: $breakpoints
  ),
);
