$components: (
  //
  // Common
  //
  alert: (default-color: 'info', default-fill: 'plain'),
  alert-icon: (default-position: 'top'),
  alert-dismiss: (default-position: 'top'),
  bar: (default-vertical-alignment: 'middle'),
  button: (default-fill: 'fill', default-color: 'primary'),
  code-block: (default-font: 'monospace', default-fill: 'plain', default-color: 'text'),
  //
  // Form
  //
  input: (default-color: 'input'),
  //
  // Typography
  //
  link: (),
  title: (default-size: 'h1'),
  subtitle: (default-size: 'h2'),
  //
  // Tables & Lists
  //
  table: (),
  //
  // Layout
  //
  card-layout: ()
);

// TODO : Complete the default configuration for all components in default theme
