$margins: (
  none: 0,
  xxs: .3em .5em,
  xs: .5em .8em,
  s: .65em 1em,
  m: .8em 1.3em,
  l: 1.2em 1.9em,
  xl: 1.6em 2.6em,
  xxl: 2em 3.2em
);


$text-margins: (
  xs: .5em 0 .2em,
  s: .7em 0 .3em,
  m: .8em 0 .4em,
  l: 1.2em 0 .6em,
  xl: 1.6em 0 .8em,
  xxl: 2em 0 1em
)
