// TODO : Make sure this ends up in configuration
$font-families: (
  title: 'Roboto Slab' serif,
  text: 'Open Sans' sans-serif,
  monospace: 'Roboto Mono' monospace
);

$title-sizes: (
  1: 2rem,
  2: 1.6rem,
  3: .85rem,
  4: 1rem,
  5: 1.15rem,
  6: 1.3rem
);

$text-sizes: (
  xs: .7rem,
  s: .85rem,
  m: 1rem,
  l: 1.15rem,
  xl: 1.3rem
);

$text-margins: (
  xs: .5em 0 .2em,
  s: .7em 0 .3em,
  m: .8em 0 .4em,
  l: 1.2em 0 .6em,
  xl: 1.6em 0 .8em,
  xxl: 2em 0 1em
)
